@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #131313;
  --secondary-bg: #1B1B1B;
  --tertiary-bg: #262626;
  --orange-subtly-lighter: #FF552A;
  --orange-subtly-darker: #FF3A35;

  --primary-orange: rgb(252, 130, 51);
  --primary-pink: rgb(248, 29, 127);

  --padding-x: 20px
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #131313;
    --background: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* FORMATTING */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--padding-x);
}

/* CUSTOM ELEMENTS */
.widget {
  background-color: var(--secondary-bg);
  padding: 10px 14px;
  border-radius: 15px;
  border: 2px solid var(--tertiary-bg);
}
.widget.rounded {
  border-radius: 30px;
}

.widget .widget {
  background-color: rgba(255, 255, 255, 0.04)
}

/* Buttons */
.red.button {
  background-color: var(--orange-subtly-darker);
  padding: 3px 5px;
  border-radius: 7px;
}
.button.plus {
  border-radius: 50%;
  font-size: 1.3em;
  padding: 0px 9px;
}

/* ELEMENTS */
input, textarea { 
  color: white;
  font-size: .9em;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 5px 8px;
  border-radius: 20px;
}

textarea { 
  padding: 7px 10px;
  min-height: 100px;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}