h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

.grey { 
    color: rgba(255, 255, 255, 0.3)
}

p { 
    font-size: 14px;
}