.user {
    background-image: linear-gradient(45deg, var(--orange-subtly-darker), var(--orange-subtly-lighter));
    color: transparent;
    background-clip: text;
    margin-top: 2%;
    font-weight: 700;
}

/* Header */
header.header {
    padding: 40px 0;
    border-bottom: 5px solid var(--secondary-bg);
}

.newHereLabel {
    color: #2CC771;
}