/*
 * This file is used to display background images/gradients/patterns on specific classes
*/

.bg-plane-wing {
    background-image: url("/images/backgrounds/plane-wing.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.bg-gradient-glow { 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    background-size: contain;
}

/* Used to use position absolute to move things to the center */
.text-primary-highlighted {
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 400%;
    background-position-x: 50%;
    -webkit-background-clip: text;
    color: transparent;
}