/*
 * This file is used to display background images/gradients/patterns on specific classes
*/

.bg-plane-wing {
    background-image: url("/images/backgrounds/plane-wing.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.bg-gradient-glow { 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    background-size: contain;
}