/* Custom variables used for Skills */

:root {
  /* Reds */
  --red: #ef4444;
  --light-red: #fecaca;
  --dark-red: #991b1b;

  /* Oranges */
  --orange: #f97316;
  --light-orange: #fed7aa;
  --dark-orange: #9a3412;

  /* Yellows */
  --yellow: #eab308;
  --light-yellow: #fef08a;
  --dark-yellow: #854d0e;

  /* Greens */
  --green: #22c55e;
  --light-green: #bbf7d0;
  --dark-green: #14532d;

  /* Teals */
  --teal: #14b8a6;
  --light-teal: #99f6e4;
  --dark-teal: #134e4a;

  /* Blues */
  --blue: #3b82f6;
  --light-blue: #bfdbfe;
  --dark-blue: #1e3a8a;

  /* Indigos */
  --indigo: #6366f1;
  --light-indigo: #c7d2fe;
  --dark-indigo: #312e81;

  /* Purples */
  --purple: #8b5cf6;
  --light-purple: #ddd6fe;
  --dark-purple: #3b0764;

  /* Pinks */
  --pink: #ec4899;
  --light-pink: #fbcfe8;
  --dark-pink: #831843;

  /* Browns */
  --brown: #92400e;
  --light-brown: #fef3c7;
  --dark-brown: #431407;

  /* Grays */
  --gray: #6b7280;
  --light-gray: #d1d5db;
  --dark-gray: #111827;
}

@media (prefers-color-scheme: dark) { 
  :root {
    /* Reds */
    --red: #f87171;
    --light-red: #fecaca;
    --dark-red: #7f1d1d;

    /* Oranges */
    --orange: #fb923c;
    --light-orange: #fed7aa;
    --dark-orange: #7c2d12;

    /* Yellows */
    --yellow: #facc15;
    --light-yellow: #fef08a;
    --dark-yellow: #713f12;

    /* Greens */
    --green: #4ade80;
    --light-green: #bbf7d0;
    --dark-green: #064e3b;

    /* Teals */
    --teal: #2dd4bf;
    --light-teal: #99f6e4;
    --dark-teal: #115e59;

    /* Blues */
    --blue: #60a5fa;
    --light-blue: #bfdbfe;
    --dark-blue: #1e40af;

    /* Indigos */
    --indigo: #818cf8;
    --light-indigo: #c7d2fe;
    --dark-indigo: #3730a3;

    /* Purples */
    --purple: #a78bfa;
    --light-purple: #ddd6fe;
    --dark-purple: #4c1d95;

    /* Pinks */
    --pink: #f472b6;
    --light-pink: #fbcfe8;
    --dark-pink: #9d174d;

    /* Browns */
    --brown: #b45309;
    --light-brown: #fef3c7;
    --dark-brown: #451a03;

    /* Grays */
    --gray: #9ca3af;
    --light-gray: #d1d5db;
    --dark-gray: #1f2937;
  }
}
