/* Custom variables used for Skills */

:root {
  /* Reds */
  --red: #ff2d2d;
  --light-red: #ff9b9b;
  --dark-red: #b72121;

  /* Oranges */
  --orange: #f97316;
  --light-orange: #fed7aa;
  --dark-orange: #9a3412;

  /* Yellows */
  --yellow: #ffc823;
  --light-yellow: #ffee6a;
  --dark-yellow: #854d0e;

  /* Greens */
  --green: #16b52b;
  --light-green: #93ffb9;
  --dark-green: #084721;

  /* Teals */
  --teal: #16d1bb;
  --light-teal: #aaf9e9;
  --dark-teal: #084844;

  /* Blues */
  --blue: #1b73ff;
  --light-blue: #bfdbfe;
  --dark-blue: #0c2c83;

  /* Indigos */
  --indigo: #7b63f1;
  --light-indigo: #c7d2fe;
  --dark-indigo: #312e81;

  /* Purples */
  --purple: #8b5cf6;
  --light-purple: #ddd6fe;
  --dark-purple: #3b0764;

  /* Pinks */
  --pink: #ef3c96;
  --light-pink: #fbcfe8;
  --dark-pink: #831843;

  /* Browns */
  --brown: #92400e;
  --light-brown: #fef3c7;
  --dark-brown: #431407;

  /* Grays */
  --gray: #6b7280;
  --light-gray: #d1d5db;
  --dark-gray: #111827;
}

@media (prefers-color-scheme: dark) { 
  :root {
    /* Reds */
    --red: #fd3a3a;
    --light-red: #fecaca;
    --dark-red: #7f1d1d;

    /* Oranges */
    --orange: #ff7f16;
    --light-orange: #fed7aa;
    --dark-orange: #7c2d12;

    /* Yellows */
    --yellow: #facc15;
    --light-yellow: #fef08a;
    --dark-yellow: #713f12;

    /* Greens */
    --green: #16b52b;
    --light-green: #bbf7d0;
    --dark-green: #064e3b;

    /* Teals */
    --teal: #2dd4bf;
    --light-teal: #99f6e4;
    --dark-teal: #115e59;

    /* Blues */
    --blue: #2f8dff;
    --light-blue: #bfdbfe;
    --dark-blue: #1e40af;

    /* Indigos */
    --indigo: #5465ff;
    --light-indigo: #c7d2fe;
    --dark-indigo: #3730a3;

    /* Purples */
    --purple: #875fff;
    --light-purple: #ddd6fe;
    --dark-purple: #4c1d95;

    /* Pinks */
    --pink: #ff5aaf;
    --light-pink: #fbcfe8;
    --dark-pink: #9d174d;

    /* Browns */
    --brown: #944406;
    --light-brown: #fef3c7;
    --dark-brown: #451a03;

    /* Grays */
    --gray: #9ca3af;
    --light-gray: #d1d5db;
    --dark-gray: #1f2937;
  }
}
