.user {
    background-image: linear-gradient(45deg, var(--orange-subtly-darker), var(--orange-subtly-lighter));
    color: transparent;
    background-clip: text;
    margin-top: 2%;
    font-weight: 700;
}

/* HEADER */
header.header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 5px solid var(--secondary-bg);
    margin-bottom: 40px;
}

.newHereLabel {
    color: #2CC771;
}

.widget.nextSteps .task {
    width: 300px;
    font-size: 2em;
}

/* MAIN */
.gridOne {
    grid-template-columns: 70% 30%;
}

/* Widgets */
.EditAbout {
    width: 100%;
}
.maxLengthText {
    position: absolute;
    right: 2%;
    bottom: 5%;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.3);
}
.maxLengthText.warning {
    color: rgb(255, 179, 0);
}
.maxLengthText.error {
    color: rgb(255, 51, 51);
    animation: error-shake 1s infinite ease-in-out;
} 
@keyframes error-shake {
    0% {
        transform: translate(-1px, 0);
    }
    25% {
        transform: translate(1px, 0);
    }
    50% {
        transform: translate(-1px, 0);
    }
    75% {
        transform: translate(1px, 0);
    }
    100% {
        transform: translate(-1px, 0);
    }
}

.editIcon {
    font-size: .9em;
    cursor: pointer;
}